<launch>

  <param name="wf/W/KP" value="0.005"/>
  <param name="wf/W/KD" value="0.001"/><!--0.01-->
  <param name="wf/W/KI" value="0.00001"/>

  <param name="wf/linear_speed" value="0.13"/>
  <param name="wf/wall_is_left" value="false"/>

  <node pkg="wall_follower" type="wall_follower" name="wall_follower" output="screen">	

  </node>
</launch>
