<launch>

  <param name="Wall_follower/W/KP" value="0.005"/>
  <param name="Wall_follower/W/KD" value="0.001"/><!--0.01-->
  <param name="Wall_follower/W/KI" value="0.00001"/>

  <param name="Wall_follower/linear_speed" value="0.13"/>
  <param name="Wall_follower/wall_is_left" value="false"/>

  <node pkg="wall_follower" type="wall_follower" name="wall_follower" output="screen">	

  </node>
</launch>
